.ztree li span.button.dbIcon_ico_open, .ztree li span.button.dbIcon_ico_close {
    margin-right: 2px;
    background: url(../img/database.gif) no-repeat scroll 0 0 transparent;
    vertical-align: top;
    *vertical-align: middle
}

.ztree li span.button.tableIcon_ico_docu, .ztree li span.button.tableIcon_ico_open, .ztree li span.button.tableIcon_ico_close {
    margin-right: 2px;
    background: url(../img/table.gif) no-repeat scroll 0 0 transparent;
    vertical-align: top;
    *vertical-align: middle
}

.ztree li span.button.fieldIcon_ico_docu {
    margin-right: 2px;
    background: url(../img/field.gif) no-repeat scroll 0 0 transparent;
    vertical-align: top;
    *vertical-align: middle
}

.ztree li span.button.oracleIcon_ico_open, .ztree li span.button.oracleIcon_ico_close {
    margin-right: 2px;
    background: url(../img/oracle.png) no-repeat scroll 0 0 transparent;
    vertical-align: top;
    *vertical-align: middle
}

.ztree li span.button.mysqlIcon_ico_open, .ztree li span.button.mysqlIcon_ico_close {
    margin-right: 2px;
    background: url(../img/mysql.png) no-repeat scroll 0 0 transparent;
    vertical-align: top;
    *vertical-align: middle
}

.ztree li span.button.sqlserverIcon_ico_open, .ztree li span.button.sqlserverIcon_ico_close {
    margin-right: 2px;
    background: url(../img/sqlserver.png) no-repeat scroll 0 0 transparent;
    vertical-align: top;
    *vertical-align: middle
}

.ztree li span.button.h2Icon_ico_open, .ztree li span.button.h2Icon_ico_close {
    margin-right: 2px;
    background: url(../img/h2.png) no-repeat scroll 0 0 transparent;
    vertical-align: top;
    *vertical-align: middle
}

.ztree li span.button.sqlrunnerIcon_ico_docu, .ztree li span.button.sqlrunnerIcon_ico_open, .ztree li span.button.sqlrunnerIcon_ico_close {
    margin-right: 2px;
    background: url(../img/sql_runner.png) no-repeat scroll 0 0 transparent;
    vertical-align: top;
    *vertical-align: middle
}