@font-face {
    font-family: 'digifacewideregular';
    src: url('../fontface/digifacewide-webfont/digifacewide-webfont.woff2') format('woff2'),
    url('../fontface/digifacewide-webfont/digifacewide-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

body {
    background-image: url("../img/monitor/bg-monitor.png");
    /*
    -moz-background-size:100% 100%;
    -webkit-background-size:100% 100%;
    -o-background-size:100% 100%;
    background-size:100% 100%;
    */
    margin: 0;
    padding: 0;
    font-family: 微软雅黑, 黑体, 宋体, Arial;
}

.monitor-nav {
    height: 90px;
    width: 1200px;
    margin: 0 auto;
    text-align: center;
    color: #03e7fd
}

.monitor-nav .saic-logo, .monitor-nav .ayjn-logo {
    float: left;
    position: relative;
    width: 60px;
    height: 60px;
    margin-top: 10px;
}

.monitor-nav .saic-logo img {
    width: 32px;
    height: 32px;
    position: relative;
    left: 0;
    top: 0;
}

.monitor-nav .ayjn-logo img {
    position: relative;
    left: 0;
    top: 5px;
}

.monitor-nav .saic-sun-logo {
    float: left;
    position: relative;
    width: 60px;
    height: 55px;
    margin-top: 15px;
    margin-left: 50px;
}

.monitor-nav .saic-sun-logo img {
    width: 50px;
    height: 50px;
    position: relative;
}

.monitor-nav .saic-logo span, .monitor-nav .ayjn-logo span {
    font-size: 12px;
    position: absolute;
    top: 40px;
    left: 5px;
    color: white;
}

.monitor-nav .nav-monitor-title {
    float: left;
    position: relative;
    line-height: 70px;
    padding-top: 5px;
}

.monitor-nav .nav-monitor-title span {
    border: 1px solid #03e7fd;
    padding: 15px;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    border-radius: 15px;
    margin-left: 20px;
}

.monitor-nav .nav-monitor-time {
    float: right;
    position: relative;
    line-height: 70px;
}

.monitor-nav .nav-monitor-location {
    float: right;
    position: relative;
    line-height: 70px;
    padding-left: 30px;
}

.monitor-nav .nav-monitor-location img {
    position: absolute;
    top: 24px;
    left: 14px;
}

.monitor-first-level {
    height: 350px;
    width: 1200px;
    margin: 0 auto;
    text-align: center;
}

.monitor-first-level-left {
    height: 350px;
    width: 350px;
    position: relative;
    float: left;
}

.monitor-first-level-left .title {
    height: 30px;
}

.monitor-first-level-left .title span.title-font {
    position: absolute;
    left: 5px;
    color: #e5e65e;
    font-size: 14px;
    line-height: 30px;
}

.monitor-first-level-left .title span.title-number {
    height: 28px;
    width: 60px;
    background-color: #313131;
    display: inline-block;
    line-height: 30px;
    position: absolute;
    left: 110px;
    top: 2px;
    color: #f23b2a;
    font-size: 24px;
    font-family: digifacewideregular;
}

.monitor-first-level-left .title img {
    height: 24px;
    width: 24px;
    position: absolute;
    left: 78px;
    top: 5px;
}

.monitor-first-level-left .content {
    height: 320px;
    position: relative;
}

.monitor-first-level-left .content .nbar-ygnbq-font {
    color: #03e7fd;
    position: absolute;
    top: 17px;
    font-size: 14px;
    right: 104px;
}

.monitor-first-level-left .content .nbar-ygnbq-number {
    color: #03e7fd;
    position: absolute;
    top: 14px;
    font-size: 14px;
    left: 254px;
    border: 1px solid #03e7fd;
    padding: 2px 20px 2px 20px;
    font-family: digifacewideregular;
}

.monitor-first-level-left .content .nbar-sybyq-font {
    color: #03e7fd;
    position: absolute;
    top: 56px;
    font-size: 14px;
    left: 25px;
}

.monitor-first-level-left .content .nbar-sybyq-number {
    color: #03e7fd;
    position: absolute;
    top: 54px;
    font-size: 14px;
    left: 104px;
    border: 1px solid #03e7fd;
    padding: 2px 20px 2px 20px;
    font-family: digifacewideregular;
}

.monitor-first-level-left .content .nbar-hlx-font {
    color: #03e7fd;
    position: absolute;
    top: 248px;
    font-size: 14px;
    left: 10px;
}

.monitor-first-level-left .content .nbar-hlx-number {
    color: #03e7fd;
    position: absolute;
    top: 245px;
    font-size: 14px;
    left: 60px;
    border: 1px solid #03e7fd;
    padding: 2px 20px 2px 20px;
    font-family: digifacewideregular;
}

.monitor-first-level-left .content .nbar-jlnbq-font {
    color: #03e7fd;
    position: absolute;
    top: 290px;
    font-size: 14px;
    right: 76px;
}

.monitor-first-level-left .content .nbar-jlnbq-number {
    color: #03e7fd;
    position: absolute;
    top: 288px;
    font-size: 14px;
    left: 280px;
    border: 1px solid #03e7fd;
    padding: 2px 20px 2px 20px;
    font-family: digifacewideregular;
}

.monitor-first-level-left2 {
    height: 350px;
    width: 392px;
    position: relative;
    float: left;
}

.monitor-first-level-left2 .left2-ljsr {
    color: white;
    position: absolute;
    left: 30px;
    font-size: 16px;
}

.monitor-first-level-left2 .left-ljsr-money-icon {
    color: white;
    position: absolute;
    left: 70px;
    font-size: 28px;
    top: 32px;
}

.monitor-first-level-left2 .left2-ljsr-number {
    color: white;
    position: absolute;
    left: 100px;
    font-size: 42px;
    top: 30px;
    font-family: digifacewideregular;
}

.monitor-first-level-left2 .left2-ljsr-wave img {
    position: absolute;
    top: 52px;
    right: 5px;
    width: 70px;
    height: 22px;
}

.monitor-first-level-left2 .left2-jrsr {
    color: #1f81f0;
    position: absolute;
    left: 30px;
    top: 80px;
    font-size: 14px;
}

.monitor-first-level-left2 .left2-jrsr-number {
    color: white;
    position: absolute;
    left: 100px;
    top: 100px;
    font-size: 14px;
    font-family: digifacewideregular;
    letter-spacing: 3px;
    font-weight: bolder;
}

.monitor-first-level-left2 .left2-zrsr-number {
    color: white;
    position: absolute;
    right: 20px;
    top: 100px;
    font-size: 14px;
    font-family: digifacewideregular;
    letter-spacing: 3px;
    font-weight: bolder;
}

.monitor-first-level-left2 .left2-zrsr {
    color: #1f81f0;
    position: absolute;
    right: 90px;
    top: 80px;
    font-size: 14px;
}

.monitor-first-level-left2 .left2-power-generation-img img {
    position: absolute;
    top: 140px;
    left: 30px;
    width: 92px;
    height: 84px;
}

.monitor-first-level-left2 .left2-power-generation-font {
    position: absolute;
    top: 175px;
    left: 50px;
    font-size: 18px;
    color: #3fd1d1;
}

.monitor-first-level-left2 .left2-power-pointer-img img {
    position: absolute;
    top: 250px;
    left: 35px;
    width: 82px;
    height: 82px;
}

.monitor-first-level-left2 .left2-power-pointer-font {
    position: absolute;
    top: 285px;
    left: 58px;
    font-size: 18px;
    color: #3fd1d1;
}

.monitor-first-level-left2 .left2-power-ljfdl,
.monitor-first-level-left2 .left2-power-jrfdl,
.monitor-first-level-left2 .left2-power-dqgl,
.monitor-first-level-left2 .left2-power-zjgl {
    color: white;
    font-size: 16px;
}

.monitor-first-level-left2 .left2-power-jrfdl {
    top: 160px;
    position: absolute;
    left: 150px;
}

.monitor-first-level-left2 .left2-power-jrfdl .number,
.monitor-first-level-left2 .left2-power-ljfdl .number,
.monitor-first-level-left2 .left2-power-dqgl .number,
.monitor-first-level-left2 .left2-power-zjgl .number {
    margin-left: 20px;
    font-family: digifacewideregular;
}

.monitor-first-level-left2 .left2-power-jrfdl .dw,
.monitor-first-level-left2 .left2-power-ljfdl .dw,
.monitor-first-level-left2 .left2-power-dqgl .dw,
.monitor-first-level-left2 .left2-power-zjgl .dw {
    margin-left: 16px;
}

.monitor-first-level-left2 .left2-power-ljfdl {
    color: white;
    font-size: 16px;
    top: 200px;
    position: absolute;
    left: 150px;
}

.monitor-first-level-left2 .left2-power-dqgl {
    color: white;
    font-size: 16px;
    top: 260px;
    position: absolute;
    left: 150px;
}

.monitor-first-level-left2 .left2-power-zjgl {
    color: white;
    font-size: 16px;
    top: 300px;
    position: absolute;
    left: 150px;
}

.monitor-first-level-left3 {
    height: 350px;
    width: 206px;
    position: relative;
    float: left;
}

.monitor-first-level-left3 img.triangle-circle {
    width: 80px;
    height: 76px;
    position: absolute;
    top: 30px;
    left: 63px;
}

.monitor-first-level-left3 .co {
    color: #fff143;
    position: absolute;
    top: 52px;
    left: 90px;
    font-size: 14px;
}

.monitor-first-level-left3 .co-2 {
    color: #fff143;
    position: absolute;
    top: 59px;
    left: 110px;
    font-size: 8px;
}

.monitor-first-level-left3 .jp {
    color: #00c0a0;
    position: absolute;
    top: 66px;
    left: 84px;
    font-size: 20px;
    font-weight: bolder;
}

.monitor-first-level-left3 .left3-circle-jrjp {
    color: white;
    font-size: 16px;
    top: 120px;
    position: absolute;
    left: 10px;
}

.monitor-first-level-left3 .left3-circle-jrjp .number,
.monitor-first-level-left3 .left3-circle-ljjp .number {
    margin-left: 20px;
    font-family: digifacewideregular;
}

.monitor-first-level-left3 .left3-circle-ljjp {
    color: white;
    font-size: 16px;
    top: 160px;
    position: absolute;
    left: 10px;
}

.monitor-first-level-left3 .left3-circle-treenumber {
    color: white;
    font-size: 16px;
    top: 200px;
    position: absolute;
    left: 50px;
}

.monitor-first-level-left3 .left3-circle-treenumber .number {
    color: #48c55f;
    margin-right: 10px;
    font-family: digifacewideregular;
}

.monitor-first-level-left3 .left3-circle-treelist {
    top: 230px;
    position: absolute;
    left: 10px;
    margin-right: 20px;
}

.monitor-first-level-left4 {
    height: 350px;
    width: 250px;
    position: relative;
    float: left;
}

.monitor-first-level-left4 img.sun {
    width: 62px;
    height: 62px;
    position: absolute;
    left: 10px;
}

.monitor-first-level-left4 .ssd-number {
    color: #35d0ec;
    position: absolute;
    font-size: 38px;
    top: 2px;
}

.monitor-first-level-left4 .ssd-dw {
    color: #35d0ec;
    position: absolute;
    font-size: 26px;
    top: 16px;
    left: 175px;
}

.monitor-first-level-left4 .wether-top {
    position: absolute;
    top: 85px;
    border-top: #2d3538 1px solid;
    color: #35d0ec;
    margin-left: 10px;
    width: 230px;
    text-align: left;
}

.monitor-first-level-left4 .wether-top .label {
    width: 80px;
    display: inline-block;
    line-height: 24px;
}

.monitor-first-level-left4 .wether-bottom {
    position: absolute;
    top: 190px;
    border-top: #2d3538 1px solid;
    color: #35d0ec;
    margin-left: 10px;
    width: 230px;
    text-align: left;
}

.monitor-first-level-left4 .wether-bottom .label {
    width: 80px;
    display: inline-block;
    line-height: 24px;
}

.monitor-second-level {
    width: 1200px;
    height: 364px;
    border: 1px solid #35d0ec;
    margin: 0 auto;
}

.monitor-second-level-left {
    width: 226px;
    height: 364px;
    position: relative;
    float: left;
}

.monitor-second-level-left .title-bg,
.monitor-second-level-left .title-bg-bottom,
.monitor-second-level-left3 .title-bg,
.monitor-second-level-left4 .title-bg{
    width: 204px;
    height: 36px;
    position: absolute;
    left: 6px;
}

.monitor-second-level-left .title-bg,
.monitor-second-level-left3 .title-bg,
.monitor-second-level-left4 .title-bg{
    top: 6px;
}

.monitor-second-level-left .title-bg-bottom {
    top: 156px;
}


.monitor-second-level-left .title,
.monitor-second-level-left .title-bottom,
.monitor-second-level-left3 .title,
.monitor-second-level-left4 .title{
    display: inline-block;
    color: #29e4eb;
    font-size: 18px;
    position: absolute;
    left: 40px;
}

.monitor-second-level-left .title,
.monitor-second-level-left3 .title,
.monitor-second-level-left4 .title{
    top: 10px;
}

.monitor-second-level-left .title-bottom {
    top: 160px;
}

.monitor-second-level-left .analysis-week-warning {
    width: 220px;
    height: 100px;
    position: absolute;
    top: 50px;
    left: 4px;
}

.monitor-second-level-left .analysis-top5 {
    width: 220px;
    height: 160px;
    position: absolute;
    top: 200px;
    left: 4px;
}

.monitor-second-level-left2 {
    width: 288px;
    height: 364px;
    position: relative;
    float: left;
}

.monitor-second-level-left2 .warning-category{
    width: 280px;
    height: 338px;
}

.monitor-second-level-left3 {
    width: 368px;
    height: 364px;
    position: relative;
    float: left;
}

.monitor-second-level-left3 .asset-count-content{
    position: absolute;
    top:60px;
    left:0px;
    color:white;
}

.monitor-second-level-left3 .asset-count-content .row{
    height: 60px;
}

.monitor-second-level-left3 .asset-count-content .label{
    width:110px;
}

.monitor-second-level-left3 .asset-count-content .number{
    width:66px;
    text-align: center;
    background-color:#303231;
    display: inline-block;
    padding-top:6px;
    padding-bottom: 6px;
    color:#67a4d1;
    font-family: digifacewideregular;
}

.monitor-second-level-left4{
    width: 316px;
    height: 364px;
    position: relative;
    float: left;
}

.monitor-second-level-left4 .case-power-percent-content{
    height: 310px;
    width:316px;
    position: relative;
    top:50px;
}
.monitor-second-level-left4 .case-power-percent-content .case-power-percent-block{
    width:100px;
    display: inline-block;
    color:white;
    text-align: center;
    height: 100px;
    position: relative;
}

.monitor-second-level-left4 .case-power-percent-content .case-power-percent-block .percent{
    position: absolute;
    top:50px;
    left:32px;
}



