<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="model.myPanel.MyCharts">
    <insert id="insert" parameterType="MyCharts" databaseId="h2">
        insert into T_MY_CHARTS(SQLRECORDING_ID,BUILD_MODEL,CHART_TYPE,JS_CODE,CHART_NAME)
        values (#{sqlRecordingId},#{buildModel},#{chartType},#{jsCode},#{chartName});
    </insert>

    <update id="update" parameterType="MyCharts" databaseId="h2">
        update T_MY_CHARTS
        <set>
            <if test="sqlRecordingId != null">SQLRECORDING_ID = #{sqlRecordingId},</if>
            <if test="buildModel != null">BUILD_MODEL = #{buildModel},</if>
            <if test="jsCode != null">JS_CODE = #{jsCode},</if>
            <if test="chartType != null">CHART_TYPE = #{chartType},</if>
        </set>
        <where>
            id = #{id}
        </where>
    </update>

    <delete id="delete" parameterType="MyCharts" databaseId="h2">
        delete from T_MY_CHARTS where Id = #{id}
    </delete>

    <select id="selectList" parameterType="myCharts" resultType="MyCharts" databaseId="h2">
        select * from T_MY_CHARTS
    </select>
    
    <select id="selectOne" parameterType="MyCharts" resultType="MyCharts" databaseId="h2">
        select * from T_MY_CHARTS where id = #{id}
    </select>
</mapper>
