<?xml version="1.0" encoding="UTF-8" ?>  
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jiudaotech.www">

    <update id="initSystemCoreTables" databaseId="h2">
      CREATE TABLE IF NOT EXISTS T_SYS_CORE_METADATA (
        ID BIGINT AUTO_INCREMENT,
        VERSION REAL,
        UPDATE_TIME VARCHAR(14)
      );
      INSERT INTO T_SYS_CORE_METADATA(VERSION, UPDATE_TIME) VALUES (1.0, TO_CHAR(CURRENT_TIMESTAMP(), 'yyyyMMddHHmmss'));

      <!--数据库连接表-->
      CREATE TABLE IF NOT EXISTS T_DB_CONNECTION
      (
        ID BIGINT AUTO_INCREMENT NOT NULL,
        DBNAME VARCHAR(300) NOT NULL,
        DBHOST VARCHAR(300) NOT NULL,
        DBPORT VARCHAR(300) NOT NULL,
        DBURL VARCHAR(300) NOT NULL,
        USERNAME VARCHAR(300) NOT NULL,
        PASSWORD VARCHAR(300) NOT NULL,
        CREATETIME VARCHAR(14) NOT NULL
      );
      COMMENT ON COLUMN T_DB_CONNECTION.ID IS '自增主键';
      COMMENT ON COLUMN T_DB_CONNECTION.DBNAME IS '数据库名称';
      COMMENT ON COLUMN T_DB_CONNECTION.DBHOST IS '数据库主机名';
      COMMENT ON COLUMN T_DB_CONNECTION.DBPORT IS '数据库端口';
      COMMENT ON COLUMN T_DB_CONNECTION.DBURL IS '数据库连接字符串';
      COMMENT ON COLUMN T_DB_CONNECTION.USERNAME IS '用户名';
      COMMENT ON COLUMN T_DB_CONNECTION.PASSWORD IS '密码';
      COMMENT ON COLUMN T_DB_CONNECTION.CREATETIME IS '创建时间';

      <!--sql记录保存表-->
      CREATE TABLE IF NOT EXISTS T_DB_SQLRECORDING(
        id BIGINT AUTO_INCREMENT NOT NULL COMMENT '主键',
        RECORDING_NAME VARCHAR(50) NOT NULL COMMENT '记录名称',
        SQL_RECORDING VARCHAR(2000) NOT NULL COMMENT 'sql内容',
        CONNECTION_ID BIGINT NOT NULL COMMENT '连接ID',
        CREATE_TIME VARCHAR(14) NOT NULL COMMENT '创建日期',
        CREATE_PEOPLE VARCHAR(50) COMMENT '创建人'
      );
    </update>
</mapper>