<?xml version="1.0" encoding="UTF-8" ?>  
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jiudaotech.www">

    <update id="initSystemCoreTables" databaseId="h2">
      CREATE TABLE IF NOT EXISTS T_SYS_CORE_METADATA (
        ID BIGINT AUTO_INCREMENT,
        VERSION REAL,
        UPDATE_TIME VARCHAR(14)
      );
      INSERT INTO T_SYS_CORE_METADATA(VERSION, UPDATE_TIME) VALUES (1.0, TO_CHAR(CURRENT_TIMESTAMP(), 'yyyyMMddHHmmss'));
    </update>

</mapper>