<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="dao.mapper.myCharts.MyChartsMapper">
    <insert id="add" parameterType="MyCharts" databaseId="h2">
        insert into T_MY_CHARTS(EXPORT_ID,HTML_CODE,JS_CODE,CREATE_TIME) values(#{exportId},#{htmlCode},#{jsCode},#{createTime})
    </insert>
    <select id="queryAsObject" parameterType="String" resultType="MyCharts" databaseId="h2">
        select ID, HTML_CODE, JS_CODE,CREATE_TIME from T_MY_CHARTS where EXPORT_ID = #{exportId}
    </select>
</mapper>